/* Header.css */
.header-container {

    background-color: transparent; /* Assuming a dark theme #07072b*/
}

.navbar {
    transition: all 0.3s ease; /* Smooth transition for any changes */
}

.header-logo {
    height: clamp(1vh, 5vh, 60px); /* Use clamp to control the size */
    width: auto; /* Maintain aspect ratio */
}

.nav-icon {
    font-size: clamp(0.5vw, 1.5vw, 24px); /* Adjust icon sizes appropriately */
}

@media (max-width: 768px) {
    .header-logo {
        height: clamp(1vh, 4vh, 40px); /* Smaller on mobile devices */
    }
}