.login-loader-container {
    /* align-self: center; */
    height: 200px;
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 630px; /* Adjust this value as needed */
    margin-left: 695px; /* Adjust this value as needed to move to the right */
  }