.login-loader-container {
    /* align-self: center; */
    height: 200px;
    width: 100px;
    margin: auto;
    display: block;
    margin-top: 630px; /* Adjust this value as needed */
    margin-left: 695px; /* Adjust this value as needed to move to the right */
  }
/* Footer.css */
.footer {
  background-color: #07072b; /* Dark background for the footer */
  color: grey; /* Grey text color */
  padding: 20px 0; /* Add some padding */
  
}
.footer .h5{
  margin-top: 1vh;
  margin-bottom: 0.5vh; 
}
.footer a {
  color: grey; /* Set the default link color */
  text-decoration: none; /* No underline by default */

}

.footer a:hover {
  text-decoration: underline; /* Underline on hover */
  color: white; /* Change color on hover */
}

.footer-icon {
  /* margin-top: 1vh;
  font-size: clamp(10px, 1.5vw, 24px);  */
  margin-top: 1vh;
  font-size: 1.5em; /* Increase the font size for larger icons */
  margin-right: 10px; /* Space between icons */
}

.extra-space {
  background-color: #07072b; /* Same background color as the footer */
  height: 10vh; /* Adjust height as needed */
}

/* Adjust the footer layout for small screens */
@media (max-width: 768px) {
  .footer-icon {
    /* margin-top: 1vh;
    font-size: clamp(10px, 3vw, 20px);  */
    font-size: 2.5em; /* Larger icons for better readability on small devices */
  }
}