.mindmap {
    position: relative;
    width: 100%;
    height: 75vh; /* 80% of viewport height */
    overflow: visible;
    margin: 0 auto; /* Center the mindmap container */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
  }
