.mindmap-node {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align children (headshot and info) in the center */
    justify-content: center; /* Center everything vertically within the node */
    transition: top 0.5s ease, left 0.5s ease, transform 0.5s ease;
    width: 2vw; /* 10% of the viewport width */
    height: auto; /* 15% of the viewport height */
  }
  
  .mindmap-node .headshot {
    width: auto; /* Or remove this to ensure inline styles control size */
    height: auto; /* Or remove this to ensure inline styles control size */
    transition: transform 0.3s ease;
  }
  
  .mindmap-node:hover .headshot {
    transform: scale(1.3);
  }
  
  .mindmap-node .info {
    display: flex; /* Change to none initially if you want it hidden */
    flex-direction: column; /* Aligns children (h3, p) in a row */
    align-items: center; /* Align children (headshot and info) in the center */
    justify-content: center; /* Center everything vertically within the node */
    width: 100%; /* Full width of the container */
  }
  
  .mindmap-node .info h3{
    font-size: 1.1vw; /* Relative to viewport width */
    align-items: center;
    text-align: center;
    white-space: nowrap; /* Prevents text wrapping */
    flex-direction: column; /* Aligns children (h3, p) in a row */
    animation: fadeIn 3.3s;
  }
  .mindmap-node .info p {
    font-size: 1.0vw; /* Relative to viewport width */
    align-items: center;
    text-align: center;
    white-space: nowrap; /* Prevents text wrapping */
    flex-direction: column; /* Aligns children (h3, p) in a row */
    animation: fadeIn 3.3s;
  }
  .mindmap-node .linkedin-link {
    color: #0077B5; /* LinkedIn's brand color */
    text-decoration: none;
    margin-top: 0vh;
    font-size: 1.0vw; /* Relative to viewport width */
    animation: fadeIn 3.3s;
  }
  @media (max-width: 768px) {
    .mindmap-node {
      width: 4vw;
    }
  
    .mindmap-node .info h3 {
      font-size: 1.2vw;
    }
  
    .mindmap-node .info p {
      font-size: 1.0vw;
    }
  
    .mindmap-node .linkedin-link {
      font-size: 1.2vw;
    }
  }
  
  @media (max-width: 480px) {
    .mindmap-node {
      width: 4vw;
    }
  
    .mindmap-node .info h3 {
        font-size: 1.2vw;
    }

    .mindmap-node .info p {
        font-size: 1.0vw;
    }

    .mindmap-node .linkedin-link {
        font-size: 1.2vw;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }