.mindmap {
    position: relative;
    width: 100%;
    height: 1200px; /* Adjust as needed */
    overflow: visible;
    margin-bottom: 50px;
  }
  
  .mindmap-node .headshot {
    transition: transform 0.3s ease;
  }
  
  .mindmap-node:hover .headshot {
    transform: scale(1.2);
  }
  
  .mindmap-node .info {
    display: none;
    margin-top: 10px;
  }
  
  .mindmap-node .info h3, .mindmap-node .info p {
    margin: 0;
  }
  
  .mindmap-node .info {
    display: block;
    animation: fadeIn 0.5s;
    font-size: 20px;
  }
  .mindmap-node .linkedin-link {
    color: #0077B5; /* LinkedIn's brand color */
    text-decoration: none;
    display: inline-block;
    margin-top: 0px;
    font-size: 23px;
  }
  
  .mindmap-node .linkedin-link:hover {
    text-decoration: underline;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }