@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
/* .about-screen {
    padding-top: 3000px; 
  } */
.title {
    font-family:'Pacifico', cursive;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
    animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
    font-size: clamp(20px, 2.5em, 40px); /* Adjust for titles */
    text-align: center;
    /* margin: 20px 0; */
    margin-bottom: 50px;
}
.svg-title {
    font-family: 'Pacifico', cursive;
    font-size: clamp(20px, 2.5em, 40px); /* Adjust for titles */
    text-align: center;
    /* margin: 20px 0; */
    fill: none;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: draw 5s forwards;
    margin-bottom: 0px;
  }
.title.pop-up {
    opacity: 1;
    transform: translateY(0);
}

.mindmap-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-delay: 0.5s;
}

.mindmap-container.pop-up {
    opacity: 1;
    transform: translateY(0);
}



.paragraph {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  margin-bottom: 30px;
}

.paragraph.pop-up:nth-child(2) {
  transition-delay: 0.3s;
}

.paragraph.pop-up:nth-child(3) {
  transition-delay: 0.6s;
}

.paragraph.pop-up:nth-child(4) {
  transition-delay: 0.9s;
}

.paragraph.pop-up {
  opacity: 1;
  transform: translateY(0);
}
/* for section 2: */
.paragraph_sec2 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
  margin-bottom: 50px;
}

.paragraph_sec2.visible {
  opacity: 1;
  transform: translateY(0);
}

.title_sec2 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
  margin-top: 200px;
  margin-bottom: 50px;
}

.title_sec2.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-triggered-section {
  margin-top: 50px; /* Adjust as needed */
}



/* AboutScreen.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/img/bg.jpg);
  background-size: cover;
}

#main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#click-section {
  width: 35%;
  height: 100%;
  padding: 20px 0;
  position: relative;
}

#drawerboxes {
  margin-left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#drawerboxes::before {
  content: "";
  width: 8px;
  height: 94%;
  position: absolute;
  left: -10px;
  top: 3%;
  z-index: 120;
}

.drawerbox {
  height: calc(100% / 5.5);
  width: 70%;
  position: relative;
  z-index: 100;
  transform: translateX(-70%);
  transition: transform .5s ease-in-out;
}

.drawerbox.active {
  transform: translateX(0);
}

.drawer-btn {
  width: 100%;
  height: 100%;
  font: 800 30px '';
  background-color: rgb(175, 190, 255);
  border: none;
  transition: background-color .5s ease-in-out;
  color: #ffffff00;
}

.drawer-btn.active {
  background-image: url(/public/img/bg.jpg);
  background-size: cover;
  color: rgb(70, 100, 180);
}

.drawer-btn:hover {
  cursor: pointer;
}

.drawer-head {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 200px;
  font-weight: 700;
  right: -38px;
  top: calc(50% - 135px);
  text-shadow: 2px -1px 8px rgba(250, 80, 193, 0.323);
}

#slide-section {
  position: relative;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 0 0px;
  background: linear-gradient(to right bottom,
      rgba(255, 255, 255, .6),
      rgba(255, 255, 255, .3),
      rgba(255, 255, 255, .2));
  backdrop-filter: blur(11px);
}

#slide-bar {
  position: absolute;
  top: 10%;
  left: 0px;
  height: 80%;
  width: 1px;
  background-color: rgb(223, 223, 223);
}

#bar {
  position: absolute;
  height: calc(100% / 4);
  width: 5px;
  top: 0;
  left: 0px;
  background-color: rgb(175, 190, 255);
  transition: transform .5s ease-in-out;
}

#card-section {
  height: 100%;
  width: 99%;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  color: white;
  font-size: 30px;
  transition: transform .5s ease-in-out;
}

.card-small-title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: min(5%, 10px);
  color: rgb(70, 100, 180);
}

.card-title {
  font-size: 80px;
  font-weight: 700;
  padding-bottom: min(20%, 40px);
  color: rgb(70, 100, 180);
}

.card-content {
  font-size: 24px;
  font-weight: 400;
  color: rgb(94, 123, 255);
  margin-bottom: 60px;
}

.card-img {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
@keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }