.gallery {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.media-container {
  position: relative;
  width: 30%; /* Adjust the width as needed to fit the screen */
  height: auto;
  margin: 5px; /* Reduced margin */
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Added transform transition */
  transform: translateY(20px); /* Start slightly below */
}

.media-container.fade-in {
  opacity: 1;
  transform: translateY(0); /* Move to original position */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the video content is not cropped */
  border: 2px solid #ccc;
  border-radius: 10px;
}
