:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.login_main-container {
  overflow: hidden;
}

.login_main-container,
.login_main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.login_main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #f5f4f7;
  overflow: hidden;
}
.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: relative;
  width: 300px;
  margin: 466px 0 0 570px;
  opacity: 0.5;
  z-index: 16;
}
.border {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 1px;
  background: #000000;
  opacity: 0.2;
  z-index: 17;
}
.or {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 20px;
  height: 17px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.943px;
  text-align: center;
  white-space: nowrap;
  z-index: 18;
}
.border-1 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  position: relative;
  min-width: 0;
  height: 1px;
  background: #000000;
  opacity: 0.2;
  z-index: 19;
}
.sign-in-forms {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 300px;
  margin: 16px 0 0 570px;
  z-index: 23;
}
.Email_password_input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  min-width: 0;
  z-index: 24;
}
.email,
.span-password {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 18px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 17.64px;
    text-align: left;
    white-space: nowrap;
    z-index: 30;
    margin-left: 570px;
  }

.span-johndoe-mail {
  display: block;
  position: relative;
  height: 18px;
  margin: 13px 0 0 16px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.75;
  z-index: 27;
}
.input-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 4px;
  position: relative;
  min-width: 0;
  z-index: 29;
}

.input-2, 
.input-5 {
  align-self: center;
  flex-shrink: 0;
  position: relative;
  height: 44px;
  border: 1px solid #e7e7e7;
  z-index: 31;
  overflow: hidden;
  border-radius: 8px;
  width: 100%; /* Ensure the input fields take the full width of the parent container */
  max-width: 300px; /* Optionally, limit the maximum width */
}
.input-3,
.input-6 {
  position: absolute;
  width: 300px;
  height: 44px;
  top: -1px;
  left: -1px;
  background: transparent;
  border: none;
  z-index: 34;
  outline: none;
}
.span-eye {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: calc(50% - 8px);
  right: 15px;
  color: #808080;
  font-family: Font Awesome 6 Pro, var(--default-font-family);
  font-size: 14px;
  font-weight: 900;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  opacity: 0.5;
  z-index: 32;
}
/* .password-text {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 4px;
  position: absolute;
  width: 76px;
  height: 6px;
  top: 18px;
  left: 15px;
  background: url(../assets/images/82a52b12-c0bf-4cda-bedb-f0255a2fa710.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
} */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 16px;
  position: relative;
  width: 300px;
  height: 48px;
  margin: 32px 0 0 570px;
  padding: 0 32px 0 32px;
  cursor: pointer;
  background: #000000;
  border: none;
  z-index: 20;
  overflow: hidden;
  border-radius: 8px;
}
.sign-in-account {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 112px;
  height: 20px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 21;
}
.dont-have-account {
  position: relative;
  width: 202px;
  height: 18px;
  margin: 16px 0 0 618px;
  font-family: Outfit, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 22;
}
.dont-have-account-7 {
  position: relative;
  color: #808080;
  font-family: Outfit, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: center;
}
.space {
  position: relative;
  color: #808080;
  font-family: Outfit, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 17.64px;
  text-align: center;
}
.sign-up {
  position: relative;
  color: #9c6eff;
  font-family: Outfit, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 17.64px;
  text-align: center;
  text-decoration: underline;
}
.all-rights-reserved {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 144px;
  height: 15px;
  margin: 100px 0 0 648px;
  color: #808080;
  font-family: Outfit, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
  white-space: nowrap;
  z-index: 36;
}
.bg-circle {
  position: absolute;
  width: 733px;
  height: 733px;
  top: -350px;
  left: 50%;
  background: url(../assets/images/9da121d7-ce9c-4840-8ee8-fc0bb36277b6.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-49.93%, 0);
  filter: blur(200px);
  border-radius: 50%;
}
.noise-texture {
  position: absolute;
  width: 1440px;
  height: 1200px;
  top: 53px;
  left: 286px;
  background: url(../assets/images/f04b9e33e856c895add7059a34e7cdebfa7aa552.png)
    no-repeat center;
  opacity: 0.35;
  z-index: 1;
  mix-blend-mode: overlay;
}
.login_logo {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 188px;
  left: 50%;
  transform: translateX(-50%);
  background: url('../assets/images/8375ed7de3c702d2a2b34ef06e1d1c9.png') no-repeat center;
  background-size: cover;
  z-index: 45;
}

.frame {
  position: absolute;
  width: 397px;
  height: 115px;
  top: 209px;
  left: 50%;
  transform: translate(-49.87%, 0);
  opacity: 0.2;
  z-index: 4;
  overflow: hidden;
}
.top-texture {
  position: absolute;
  width: 397px;
  height: 120px;
  top: -5px;
  left: 50%;
  background: url(../assets/images/333f44cc-c51c-4a9a-bbba-5739bdae3a9a.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: 5;
}
.sign-in-account-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 263px;
  left: calc(50% - 135px);
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.sign-in-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 300px;
  height: 104px;
  top: 338px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 7;
}
.sign-in-way-button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  height: 48px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #e7e7e7;
  z-index: 8;
  overflow: hidden;
  border-radius: 8px;
}
.icon-google {
  flex-shrink: 0;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  left: 15px;
  z-index: 10;
  overflow: hidden;
}
.group {
  position: relative;
  width: 17.64px;
  height: 18px;
  margin: 0 0 0 0;
  background: url(../assets/images/f84fbd0b-bf2b-4f12-b8b1-c57a87b471ea.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 11;
}
.sign-in-google {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 141px;
  height: 20px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 9;
}
.sign-in-way-button-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  height: 48px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #e7e7e7;
  z-index: 12;
  overflow: hidden;
  border-radius: 8px;
}
.icon-facebook {
  flex-shrink: 0;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  left: 15px;
  z-index: 14;
  overflow: hidden;
}
.facebook {
  position: relative;
  width: 17.438px;
  height: 17.332px;
  margin: 0 0 0 0;
  background: url(../assets/images/d5565293-5a36-4176-86ad-ae7082c6678b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.sign-in-facebook {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 159px;
  height: 20px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  z-index: 13;
}


  .sign-up-forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    position: relative;
    width: 300px;
    margin: 16px 0 0 570px;
    z-index: 23;
  }
  .create-account {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 112px;
    height: 20px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    z-index: 21;
  }
  .already-have-account {
    position: relative;
    width: 202px;
    height: 18px;
    margin: 16px 0 0 618px;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: center;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 22;
  }
  .already-have-account-7 {
    position: relative;
    color: #808080;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: center;
  }
  .log-in {
    position: relative;
    color: #9c6eff;
    font-family: Outfit, var(--default-font-family);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.64px;
    text-align: center;
    text-decoration: underline;
  }
  
  .create-account-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 30px;
    top: 263px;
    left: calc(50% - 84px);
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    white-space: nowrap;
    z-index: 6;
  }
  .sign-up-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
    position: absolute;
    width: 300px;
    height: 104px;
    top: 338px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 7;
  }
  .sign-up-way-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    min-width: 0;
    height: 48px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #e7e7e7;
    z-index: 8;
    overflow: hidden;
    border-radius: 8px;
  }
  .sign-up-google {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 141px;
    height: 20px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    z-index: 9;
  }
  .sign-up-way-button-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 16px;
    position: relative;
    min-width: 0;
    height: 48px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #e7e7e7;
    z-index: 12;
    overflow: hidden;
    border-radius: 8px;
  }
  .sign-up-facebook {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 159px;
    height: 20px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    z-index: 13;
  }
  